<head>
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Product+Sans:400,400i,700,700i" rel="stylesheet" type="text/css">
<style>
	.made-by-jnrudge-iframe * {
		text-align: center;
		line-height: 1;
		margin: 0;
		color: #FFF;
		text-shadow: 0px 0px 7px rgba(0,0,0,0.7);
		text-decoration: none;
	}
	.made-by-jnrudge-iframe h1 {
		font-family: 'Product Sans';
		font-size: 35px;
	}
	.made-by-jnrudge-iframe h2 {
		font-family: 'Raleway';
		font-size: 20px;
	}
</style>
</head>
<body>
<div class="made-by-jnrudge-iframe">
	<a href="http://jnrudge.com" target="_blank" >
		<h2>Website by</h2>
		<h1>James<br/>Rudge</h1>
	</a>
</div>
</body>
